@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Resend</button>
            <a href="/Identity/Account/Login" title="Signin" class="w-100 btn btn-lg btn-dark">Signin</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
