html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Bad Script",sans-serif;
    background: #222831;
    color: #EEEEEE;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Great Vibes",sans-serif;
    color: #B1B493
}
a, .nav-link {
    text-decoration: none;
    color: #B1B493
}
    a:hover, .nav-link:hover {
        text-decoration: none;
        color: #B1B493
    }
.btn {
    background: #4F8A8B;
    border-color: #4F8A8B;
    box-shadow: none;
}
.btn:hover {
    background: #B1B493;
    border-color: #B1B493;
}
/*tab navigation*/
.form-floating label {
    color: #41464b;
}
.card {
    background: #393E46
}
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
  
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.dashboard{
    display:flex;
}
.sidebar {
    max-width: 300px;
    width: 15%;
    height: 100vh;
    background: #b1b493;

    color :white;
}
.wrapper{
   
    width:85%;
}
.header-wrapper {
    background: #4F8A8B;
    height: 55px;
}
.logo {
    display: block;
    width: 100%;
    height: 55px;
    background: #4F8A8B;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #222831;
    text-align: center;
}
.nav-link, .nav-link.active, .nav-item, .nav-item, .nav-link:hover, .nav-link:active:hover, .nav-link:focus, .nav-link:focus:hover, .nav-link:active, .nav-link.active:hover {
    border: none;
    color: white;
    border-radius: none;
    border-radius: 0;
    margin-bottom:0;
}

a.nav-link.active, a.nav-link:hover {
    background: #222831 !important;
    color: white !important;
    border-right: 10px solid #4F8A8B !important;
}
.title-label {
    display:block;
    color:grey;
}